:root{
	--bg-color: #0d0f1b;
	--technology-bg-color: #191a20;
	--color-text: whitesmoke;
}


body{
	background-color: var(--bg-color);
	color: var(--color-text);
}


	.landing-page{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		.about{
			text-align: center;

			.title{
				margin-top: 1.2rem;
				font-size: 1.8rem;
			}

			.sub-title {
				font-size: 1rem;
				font-weight: bold;
				position: relative;
				color: white;
			}

			.sub-title::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				animation: text-animation 6s ease 2;
			}

			.sub-title::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				animation: text-animation_2 1.6s ease forwards;
				animation-delay: 12s;
			}


			.paragraph{
				
				text-align: center;
				background-color: var(--technology-bg-color);
				padding: 2rem;
				border-radius: 16px;
				h3{
					font-size: 1.4rem;
					margin-bottom: .6rem;
				}
				
				p{
					font-size: 1rem;
					text-align: justify;
				}
			}
		}

		.my-technology{
			text-align: center;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: var(--technology-bg-color);
			border-radius: 16px 16px 0 0;
			margin: 1rem 0;
			h2{
				margin-top: .6rem;
				font-size: 1.6rem;
			}

			.references{

				padding: 1rem 1rem 0 1rem;
				.card{

					width: 220px;
					filter: grayscale(1);
					border-radius: 8px;
					transition: all .4s ease;

					h4{
						margin: .4rem 0;
						transform: translateY(2rem);
						visibility: hidden;
					}

					img {
						width: 100%;
						border-radius: 16px;
					}
				}

				.card:active {
					filter: grayscale(0);
					transform: scale(1.02);
					transition: all .4s ease ;
					h4{
						visibility: visible;
						transform: translateY(0);
						font-size: 1.2rem;
						transition: .4s ease;
					}
				}
			}
		}

		.activity{
			margin-bottom: 1rem;
			width: 100%;
			form {
				display: flex;
				flex-direction: column;
				gap: .6rem;
				padding: 1rem;

				.inputs{
					width: 100%;
					display: flex;
					flex-direction: column;
					gap: .3rem;
					font-size: 1.2rem;
					
					input{
						font-size: 1.2rem;
						padding: .2rem 1rem;
						outline: none;
					}
				}


				button{
					font-size: 1.2rem;
					width: 40%;
					align-self: center;
					padding: .6rem ;
					margin-top: .6rem;
				}
			}

			#containerActivity{
				h2{
					font-size: 1.4rem;
					text-align: center;
					margin-bottom: .5rem;
				}
			}
		}
	}


@keyframes text-animation {
    0% { content: ""; }
    1.66% { content: ""; }
    3.22% { content: "W"; }
    4.92% { content: "We"; }
    6.54% { content: "Web"; }
    8.3% { content: "Web_"; }
    9.96% { content: "Web_D"; }
    11.62% { content: "Web_De"; }
    13.28% { content: "Web_Dev"; }
    14.94% { content: "Web_Deve"; }
    16.6% { content: "Web_Devel"; }
    18.26% { content: "Web_Develo"; }
    19.92% { content: "Web_Develop"; }
    21.58% { content: "Web_Develope"; }
    23.24% { content: "Web_Developer"; }
    24.9% { content: "Web_Developer!"; animation-delay: -3s; }
    26.56% { content: "Web_Developer!"; animation-delay: -3s; }
    28.22% { content: "Web_Developer"; }
    29.88% { content: "Web_Develope"; }
    31.54% { content: "Web_Develop"; }
    33.2% { content: "Web_Develo"; }
    34.86% { content: "Web_Devel"; }
    36.52% { content: "Web_Deve"; }
    38.18% { content: "Web_Dev"; }
    39.84% { content: "Web_De"; }
    41.5% { content: "Web_D"; }
    43.16% { content: "Web_"; }
    44.82% { content: "Web"; }
    46.48% { content: "We"; }
    48.14% { content: "W"; }
    49.8% { content: ""; }
    51.66% { content: ""; }
    53.22% { content: "H"; }
    54.92% { content: "He"; }
    56.54% { content: "Hen"; }
    58.3% { content: "Henr"; }
    59.96% { content: "Henry"; }
    61.62% { content: "Henry_"; }
    63.28% { content: "Henry_S"; }
    64.94% { content: "Henry_St"; }
    66.6% { content: "Henry_Stu"; }
    68.26% { content: "Henry_Stud"; }
    69.92% { content: "Henry_Stude"; }
    71.58% { content: "Henry_Studen"; }
    73.24% { content: "Henry_Student"; }
    74.9% { content: "Henry_Student!"; animation-delay: -3s; }
    76.56% { content: "Henry_Student!"; animation-delay: -3s; }
    78.22% { content: "Henry_Student"; }
    79.88% { content: "Henry_Studen"; }
    81.54% { content: "Henry_Stude"; }
    83.2% { content: "Henry_Stud"; }
    84.86% { content: "Henry_Stu"; }
    86.52% { content: "Henry_St"; }
    88.18% { content: "Henry_S"; }
    89.84% { content: "Henry_"; }
    91.5% { content: "Henry"; }
    93.16% { content: "Henr"; }
    94.82% { content: "Hen"; }
    96.48% { content: "He"; }
    98.14% { content: "H"; }
    99.8% { content: ""; }
    100% { content: ""; }
}

@keyframes text-animation_2 {
    0% { content: ""; }
    6.67% { content: ""; }
    13.33% { content: "W"; }
    20% { content: "We"; }
    26.67% { content: "Web"; }
    33.33% { content: "Web_"; }
    40% { content: "Web_D"; }
    46.67% { content: "Web_De"; }
    53.33% { content: "Web_Dev"; }
    60% { content: "Web_Deve"; }
    66.67% { content: "Web_Devel"; }
    73.33% { content: "Web_Develo"; }
    80% { content: "Web_Develop"; }
    86.67% { content: "Web_Develope"; }
    93.33% { content: "Web_Developer"; }
    100% { content: "Web_Developer!"; }
}


@media screen and (min-width: 600px) {
	.landing-page{
		.about{
			.title{
				font-size: 2.2rem;
			}

			
			.sub-title::before,
			.sub-title::after{
				font-size: 1.6rem;
			}
			.paragraph {
				margin: 2rem 0;
		
				p{
					font-size: 1.2rem;
				}
			}
		}

		.my-technology{
			.roboto-medium{
				font-size: 2rem;
			}
			.references{
				display: grid;
				grid-template-columns: repeat(2, 220px);
				gap: 16px;
				padding: 2rem 6rem;
		}
	}
	}
}

@media screen and (min-width: 769px) {
	.landing-page{
		.about{
			width: 90%;

			.title{
				margin-top: 2rem;
				font-size: 2.8rem;
			}
			.sub-title::before,
			.sub-title::after{
				font-size: 2rem;
			}
			.paragraph {
				margin: 3rem 0;
				p{
					padding: 0 3rem;
					font-size: 1.2rem;
				}

				h3{
					margin-bottom: 1.25rem;
					font-size: 1.5rem;
				}
			}
		}


		.my-technology{
			width: 90%;
			.roboto-medium{
				margin-top: 2rem;
				font-size: 2.4rem;
			}

			.references{
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				gap: 16px;
				transition: all .6s ease;

				.card{
					width: 100%;
					transition: all .6s ease;
					h4{
						transform: translateY(-2rem);
					}
				}
				.card:hover {
					filter: grayscale(0) brightness(1.2);
					h4{
						visibility: visible;
						transform: translateY(0);
						font-size: 1.4rem;
						transition: all .4s ease;
					}
				}
				
			}
			.references:has(.item1:hover){
				grid-template-columns: 1.2fr .95fr .95fr .95fr;
			}
			.references:has(.item2:hover){
				grid-template-columns: .95fr 1.2fr .95fr .95fr;
			}
			.references:has(.item3:hover){
				grid-template-columns: .95fr .95fr 1.2fr .95fr;
			}
			.references:has(.item4:hover){
				grid-template-columns: .95fr .95fr .95fr 1.2fr;
			}
		}
	
	}
}


@media screen and (min-width: 1443px) {
	.landing-page{
		.about{

			.title{
				margin-top: 2.5rem;
				font-size: 4rem;
			}

			.sub-title::before,
			.sub-title::after{
				font-size: 2.6rem;
			}

			.paragraph {
				h3{
					font-size: 2rem;
				}
				p{
					padding: 1rem 12rem;
					font-size: 1.7rem;
				}
			}
		}


		.my-technology{
			text-align: center;
			h2{
				font-size: 2.4rem;
				margin: .6rem 0;
			}

			.references{
				grid-template-columns: .8fr .8fr .8fr .8fr;

				gap: 16px;

				.card:hover {
					filter: grayscale(0);
					transition: .4s ease;
					h4{
						visibility: visible;
						transform: translateY(0);
						font-size: 2rem;
						transition: .4s ease;
					}
				}
			}

			.references:has(.item1:hover){
				grid-template-columns: .8fr .60fr .60fr .60fr;
			}
			.references:has(.item2:hover){
				grid-template-columns: .60fr .8fr .60fr .60fr;
			}
			.references:has(.item3:hover){
				grid-template-columns: .60fr .60fr .8fr .60fr;
			}
			.references:has(.item4:hover){
				grid-template-columns: .60fr .60fr .60fr .8fr;
			}
		}
	
	}
}